.header-container {
    display: flex;
    position: relative;
    width: 100%;
    top: 50px;
 }

 .header-leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
 }

 .header-rightside {
    display: flex;
    justify-content: center;
    width: 50%;
 }

 .header-leftside-main {
    display: flex;
    flex-direction: column;
 }

 h1 {
    width: 518px;
    height: 108px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #2F281E;
 }

 .header-text {
    width: 458px;
    height: 95px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #544837;
 }

 .header-btn {
    display: flex;
    align-items: baseline;
    font-family: 'Poppins';
    font-style: normal;
 }

 .btn-orangeH {
    margin-right: 20px;
    width: 175px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background: #FF9900;
 }

 .btn-triangle-whiteH {
    display: flex;
    align-self: baseline;
 }

 .btn-whiteH {
    width: 161px;
    height: 23px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    text-decoration-line: underline;
    color: #FF9900;
    background-color: white;
 }

 .btn-triangle {
    /* width: 10px;
    height: 10px;
    background-color: #FF9900; */
    border: 10px solid white;
    border-left-color: #FF9900;
 }

 .image-header {
    display: flex;
    width: 605px;
    height: 496px;
 }