.topic {
    display: flex;
    width: 100%;
}

.topic-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.topic-left-main {
    width: 80%;
}

.topic-right {
    display: flex;
    justify-content: center;
    width: 50%;
}

.topic-info {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    width: 90%;
}

.topic-main-heading {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.topic-heading {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    color: #2F281E;
}

.topic1-img {
    align-self: center;
}

.topic-info-icon {
    display: flex;
    width: 100%;
}

.topic-icon-img {
    align-self: center;
    position: relative;
    right: 20px;
}