.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    width: 100%;
}

.feature-heading {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #2F281E;
    width: 25%
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.cards-heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    color: #2F281E;
}

.cards-text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #544837;
}

.cards-gap {
    height: 30px;
}

.btn-card {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 161px;
    height: 50px;
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 4px;
    border: none;
    position: relative;
}

.gap-container {
    height: 150px;
}