body {
    position: relative;
}

.container {
    position: relative;
    width: 88%;
    left: 6%;
    right: 6%;
    top: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    align-self: center;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-button {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.btn-white {
    position: absolute;
    width: 102px;
    height: 46px;
    border: 1px solid #BCD0E5;
    background-color: white;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
}

.btn-orange {
    width: 110px;
    height: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #FF9900;
    color: white;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
 }